.app-header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;

  position: fixed;
  top: 0;

  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  z-index: 100;
  height: 100px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-crm-title {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
  display: flex;
  align-items: start;
}

.header-crm-title span {
  color: rgb(254, 202, 60);
}

.header-page-title {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: end;
}

@media (max-width: 480px) {
  .app-header {
    padding: 15px;
    padding-top: 35px;
    height: 90px;
  }
  .header-crm-title {
    font-size: 1em;
  }
  .header-page-title {
    font-size: 1.5em;
  }
}
